@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-Regular.woff2") format("woff2"),
    url("../assets/fonts/SpaceGrotesk-Regular.ttf") format("truetype"),
    url("../assets/fonts/SpaceGrotesk-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Space Grotesk";
  src: url("../assets/fonts/SpaceGrotesk-Medium.woff2") format("woff2"),
    url("../assets/fonts/SpaceGrotesk-Medium.ttf") format("truetype"),
    url("../assets/fonts/SpaceGrotesk-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}
