@import url(/src/styles/variables.css);
@import url(/src/styles/fonts.css);

.cs__content {
  padding-top: 140px;
}

.cs__wrapper-title {
  display: flex;
  gap: 40px;
  align-items: center;
}

.cs__title {
  border-radius: 7px;
  padding: 0px 7px;
  font-weight: 500;
  font-size: 40px;
  background-color: var(--color-green);
}

.cs__description {
  font-size: 18px;
  width: 580px;
  line-height: 120%;
}

.cs__promotion {
  padding: 70px 0 70px 60px;
  gap: 64px;
  display: flex;
  align-items: center;
  margin-top: 80px;
  width: 100%;
  border-radius: 45px;
  background: var(--color-dark);
}

.cs__promotion-info{
  width: 100%;
    &:nth-child(1),
    &:nth-child(2){
      border-right: 1px solid #fff;
    }
}

.cs__promotion-text{
    width: 286px;
    line-height: 120%;
    font-size: 18px;
    color: var(--color-white);
}

.cs__promotion-button{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: var(--color-green);
    border: none;
    background: transparent;
    cursor: pointer;
}